import React from 'react'
import clsx from "clsx"

const variants = {
  'info': '{{dashCase name}}-info',
  'success': '{{dashCase name}}-success',
  'warning': '{{dashCase name}}-warning',
  'error': '{{dashCase name}}-error',
}

export type {{properCase name}}Props = {
  variant?: keyof typeof variants
  children?: React.ReactNode
  className?: string
}

export const {{properCase name}} = React.forwardRef<HTMLDivElement, {{properCase name}}Props>(({variant, className, children, ...rest}, ref) => { 
  return (
    <div {...rest} className={clsx(className, '{{dashCase name}}', variant && variants[variant], '')} ref={ref}>
      {children}
    </div>
  )
})